.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 12px 18px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 1px;
  user-select: none;
  outline: none;
  margin: 10px;
  min-width: 120px;
  width: calc(100% - 20px);
  color: #fff;
  background-color: #04aada;
}
