.user-card {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
  border: 2px solid none;
  transition: all 0.15s ease-in-out;
  position: relative;
  &:hover {
    border: 2px solid #04aada;
    transform: scale(1);
  }
  &__actions {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  &__image {
    width: 100%;
    img {
        width: 100%;
    }
  }
  &__details {
    padding: 10px 15px;
  }
  &__name,
  &__email,
  &__website,
  &__username {
    padding-bottom: 20px;
  }
}
